<!DOCTYPE html>
<html>
<head>
  <title>SHOP</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/simplex/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Ib5WUYOh/fqe9wT9MDBX+VgUWQuUf8oDH3yuR9Kr+6Y5ejq92KR8LEuCbRiGZpG" crossorigin="anonymous">
  <style>

  </style>
</head>
<body class="container-fluid">
  <h1> WOZANE shop </h1>
  <div style="background-image: ../public/image/logo.jpg;height:imageheight 45px;width:imagewidth 50px">
    <a class="btn btn-default" href="/">Home</a>
    <a class="btn btn-warning" href="/basket">Basket</a>
  </div>
  <%= yield %>
</body>
</html>
